<%= form_for [@room, @room.reviews.new] do |f| %>

  <div id="user_stars"></div><br>

  <div class="form-group">
    <%= f.text_area :comment, row:3, placeholder: 'write your review', class: "form-control" %>
  </div>

  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="actions">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>

<% end %>

<script>
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>


